<!-- BEGIN header -->
header.clearfix
	.container		
		a.menu.mobile.c-mobile-menu-link(href="" title="")
			span.sprite.menu-btn
			|Меню
		nav.nav.c-mobile-menu
			a.nav__link.c-link-anchor(href="#schedule" title="")= "Расписание"
			a.nav__link.c-link-anchor(href="#grid" title="")= "Сетка"
			a.nav__link.active.c-link-anchor(href="#video" title="")= "Видео"
			a.nav__link.c-link-anchor(href="#news" title="")= "Новости"
			a.nav__link.c-link-anchor(href="#comands" title="")= "Команды"			
			a.nav__link.c-link-anchor(href="#details" title="")= "Подробности"
<!-- END header -->
