@font-face {
  font-family: 'PlumbCondensed-Light';
  src: url('../fontss/PlumbCondensed-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/PlumbCondensed-Light.otf') format('opentype'), url('../fonts/PlumbCondensed-Light.woff') format('woff'), url('../fonts/PlumbCondensed-Light.ttf') format('truetype'), url('../fonts/PlumbCondensed-Light.svg#PlumbCondensed-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Plumb-Light';
  src: url('../fonts/Plumb-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Plumb-Light.woff') format('woff'), url('../fonts/Plumb-Light.ttf') format('truetype'), url('../fonts/Plumb-Light.svg#Plumb-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cuprum-Regular';
  src: url('../fonts/Cuprum-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Cuprum-Regular.woff') format('woff'), url('../fonts/Cuprum-Regular.ttf') format('truetype'), url('../fonts/Cuprum-Regular.svg#Cuprum-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.sprite {
  background: url('../images/sprite.png') no-repeat top left;
}
.sprite.cf {
  background-position: 0px 0px;
  width: 335px;
  height: 51px;
}
.sprite.cryengine {
  background-position: -345px 0px;
  width: 111px;
  height: 14px;
  margin-top: 11px;
}
.sprite.crytek {
  background-position: -466px 0px;
  width: 77px;
  height: 26px;
}
.sprite.line1 {
  background-position: -553px 0px;
  width: 79px;
  height: 110px;
}
.sprite.line2 {
  background-position: -642px 0px;
  width: 82px;
  height: 227px;
}
.sprite.mail {
  background-position: -734px 0px;
  width: 90px;
  height: 28px;
  margin-top: 8px;
}
.sprite.mailru {
  background-position: -834px 0px;
  width: 72px;
  height: 27px;
  margin-right: 40px;
}
.sprite.menu-btn {
  background-position: -916px 0px;
  width: 44px;
  height: 27px;
}
.sprite.pegi16_rf {
  background-position: -970px 0px;
  width: 36px;
  height: 36px;
}
.sprite.smilegate {
  background-position: -1016px 0px;
  width: 120px;
  height: 30px;
  margin-right: 55px;
}
.sprite.video-icon {
  background-position: -1146px 0px;
  width: 32px;
  height: 32px;
}
.sprite.video-icon-big {
  background-position: -1188px 0px;
  width: 146px;
  height: 146px;
}
.sprite.video-icon-midle {
  background-position: -1344px 0px;
  width: 80px;
  height: 80px;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  border: none;
}
iframe {
  border: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.pagewrap {
  min-height: 100%;
  min-width: 480px;
  width: 100%;
  font-family: 'Plumb-Light';
  overflow: hidden;
}
.pagewrap--cf {
  background: #000;
}
.pagewrap--cf .infoblock__title {
  height: 59px;
  line-height: 58px;
  text-align: center;
  background-color: #5c8bbb;
  margin: 0;
  color: #dbdbdb;
  font-family: 'Cuprum-Regular';
  font-size: 40px;
}
.pagewrap--cf .infoblock__sub {
  font-family: 'Cuprum-Regular';
}
.pagewrap--cf .infoblock--footer {
  background-color: #000;
  margin-top: 58px;
  padding: 35px 0 0;
  height: auto;
}
.pagewrap--cf .btn {
  margin-bottom: 36px;
  background: url('../images/btn-cf.png') no-repeat center top;
  background-position: 0px 0px;
  background-size: cover;
}
.pagewrap--cf .btn:hover {
  background: url('../images/btn-cf.png') no-repeat center top;
  background-position: 0px -69px;
  background-size: cover;
}
.pagewrap--cf .content {
  padding-top: 62px;
  padding-bottom: 38px;
}
.pagewrap--cf .content__bg.top {
  top: 0;
  background: url('../images/content/cf1.png') center top no-repeat;
  background-size: cover;
  height: 113vh;
}
.pagewrap--cf .content__bg.bottom,
.pagewrap--cf .content__bg.middle {
  display: none;
}
.pagewrap--cf .commands {
  margin-top: 20px;
}
.pagewrap--cf .logo {
  width: 100%;
  max-width: 886px;
  height: 260px;
  margin: 0 auto;
}
.mobile {
  display: none;
}
.desktop {
  display: block;
}
.absolute-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: #0a1019;
  z-index: 10;
}
header.header-cf {
  height: 63px;
}
header.header-cf .nav__link {
  font-family: 'Cuprum-Regular';
  color: #818182;
  font-size: 30px;
  line-height: 63px;
  margin: 0;
  text-transform: none;
  color: #dbdbdb;
}
header.header-cf .nav__link.active {
  color: #5c8bbb;
}
header.header-cf .menu {
  font-family: 'Cuprum-Regular';
  font-size: 40px;
  line-height: 62px;
}
header.header-cf .menu .sprite {
  top: 17px;
}
.container {
  width: 100%;
  min-width: 480px;
  max-width: 886px;
  margin: 0 auto;
  position: relative;
}
.content {
  width: 100%;
  min-width: 480px;
  position: relative;
  text-align: center;
  padding: 100px 0;
}
.content .container {
  background-color: rgba(10, 16, 25, 0.83);
  text-align: left;
  position: relative;
  z-index: 4;
}
.content__bg {
  position: absolute;
  left: 0;
  right: 0;
}
.content__bg.top {
  top: 0;
  background: url('../images/content/warface1.png') center top no-repeat;
  background-size: cover;
  height: 100vh;
}
.content__bg.middle {
  top: 69vh;
  background: url('../images/content/warface2.png') no-repeat;
  background-size: contain;
  bottom: 0;
}
.content__bg.bottom {
  top: 2000px;
  background: url('../images/content/warface3.png') repeat-y;
  background-size: contain;
  bottom: 0;
}
.content__bg.cf {
  top: 0;
  bottom: 0;
  background: url('../images/cf-landing.jpg') center top no-repeat;
  background-size: cover;
}
.menu {
  padding-left: 119px;
  position: relative;
  color: #fff;
  font-family: 'PlumbCondensed-Light';
  font-size: 61px;
  text-transform: uppercase;
  line-height: 92px;
}
.menu .sprite {
  display: inline-block;
  position: absolute;
  top: 34px;
  left: 38px;
}
.menu.active {
  color: #ef7a16;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0 25px;
}
.nav__link {
  margin: 0 10px;
  font-family: 'PlumbCondensed-Light';
  font-size: 34px;
  font-weight: 300;
  line-height: 100px;
  text-transform: uppercase;
  color: #767677;
}
.nav__link.active {
  color: #ef7a16;
}
.logo {
  display: inline-block;
  position: relative;
  z-index: 3;
  margin: 48px auto;
}
.logo--cf:after {
  position: absolute;
  content: '';
  top: 8px;
  left: 50%;
  margin-left: -167px;
  width: 335px;
  height: 51px;
  background: url('../images/sprite.png') no-repeat top left;
  background-position: 0px 0px;
}
.main-video {
  width: 100%;
  height: 498px;
  position: relative;
}
.infoblock {
  color: #fff;
  font-family: 'Plumb-Light';
  font-size: 20px;
}
.infoblock__title {
  display: block;
  width: 100%;
  color: #818182;
  font-family: 'PlumbCondensed-Light';
  font-size: 61px;
  text-transform: uppercase;
  margin: 35px 0 20px;
  padding: 0 38px;
  outline: none;
}
.infoblock__title--margin-big {
  margin-top: 66px;
}
.infoblock__title--margin-big1 {
  margin-top: 20px;
  margin-bottom: 37px;
}
.infoblock__title--transform {
  text-transform: none;
}
.infoblock__sub-title {
  font-family: 'PlumbCondensed-Light';
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #ef7a16;
  margin-bottom: 17px;
}
.infoblock__sub-title span {
  color: #fff;
}
.infoblock__sub-title1 {
  margin-bottom: 22px;
}
.infoblock__sub-title2 {
  font-family: 'Plumb-Light';
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
.infoblock--text {
  padding: 38px 38px 0;
}
.infoblock--text a {
  color: #5c8bbb;
}
.infoblock--social {
  height: 167px;
  padding-top: 145px;
  text-align: center;
}
.infoblock--footer {
  height: 148px;
  background-color: rgba(0, 0, 0, 0.35);
  padding-top: 17px;
  text-align: center;
}
.entity__item {
  width: 50%;
  float: left;
}
.entity__item--wide {
  width: 100%;
}
.entity__item--wide .entity__item-middle {
  width: calc(100% - 85px);
  text-align: center;
}
.entity__item--wide .entity__item-element:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.35);
}
.entity__item--wide .entity__item-element:nth-child(odd) {
  background-color: inherit;
}
.entity__item-head {
  height: 59px;
  background-color: #2d3b49;
  line-height: 59px;
  padding-left: 38px;
  font-size: 24px;
  font-weight: 700;
}
.entity__item-element {
  height: 68px;
  line-height: 68px;
}
.entity__item-element:nth-child(odd),
.entity__item-element.emphasized {
  background-color: rgba(0, 0, 0, 0.35);
}
.entity__item-small {
  width: 85px;
  padding-left: 38px;
  float: left;
}
.entity__item-middle {
  width: 358px;
  padding: 0 32px;
  float: left;
  text-align: right;
}
.entity__item-middle span {
  display: inline-block;
  margin: 0 15px;
}
.news__item {
  position: relative;
}
.news__item-heading {
  height: 59px;
  background-color: #2d3b49;
  line-height: 59px;
  padding-left: 38px;
  font-size: 24px;
  font-weight: 700;
}
.news__item-img {
  width: 34.4%;
  height: 134px;
  padding: 0 3.2% 0 3.8%;
  float: left;
  overflow: hidden;
}
.news__item-img img {
  max-width: 100%;
  background-color: #282828;
}
.news__item-text {
  width: 65.5%;
  padding: 20px 4.3% 0 0;
  float: left;
}
.commands__item {
  width: 50%;
  margin-bottom: 30px;
  float: left;
  text-align: center;
}
.commands__logo {
  display: inline-block;
  width: 129px;
  height: 129px;
  border-radius: 100%;
  margin: 0 auto 4px;
  overflow: hidden;
}
.commands__logo img {
  max-width: 100%;
}
.commands__name {
  display: inline-block;
  padding: 0 38px;
  color: #fff;
  font-family: 'PlumbCondensed-Light';
  font-size: 28px;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  margin-bottom: 20px;
}
.group {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.group__item {
  display: inline-block;
  width: 100%;
}
.social__link {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 0 5px;
  background: url('../images/social.png') no-repeat;
}
.social__link.tw {
  background-position: 0 0;
}
.social__link.tw:hover {
  background-position: 0 -26px;
}
.social__link.fb {
  background-position: -26px 0;
}
.social__link.fb:hover {
  background-position: -26px -26px;
}
.social__link.vk {
  background-position: -52px 0;
}
.social__link.vk:hover {
  background-position: -52px -26px;
}
.social__link.ok {
  background-position: -78px 0;
}
.social__link.ok:hover {
  background-position: -78px -26px;
}
.logos__link {
  display: inline-block;
  margin: 0 13px;
  vertical-align: top;
}
.details {
  width: 100%;
  height: 502px;
  overflow: hidden;
}
.details img {
  max-width: 100%;
}
.game-grid {
  padding: 0 38px;
}
.game-grid__stage {
  width: 33.33%;
  float: left;
  position: relative;
}
.game-grid__stage:after,
.game-grid__stage:before {
  position: absolute;
  content: '';
}
.game-grid__stage:nth-child(2) {
  padding-left: 26px;
}
.game-grid__stage:nth-child(2) .game-grid__match:nth-child(1) {
  margin-top: 50px;
}
.game-grid__stage--warface:after,
.game-grid__stage--warface:before {
  background: url('../images/sprite.png') no-repeat top left;
}
.game-grid__stage--warface:nth-child(1):after,
.game-grid__stage--warface:nth-child(1):before {
  background-position: -553px 0px;
  width: 79px;
  height: 110px;
  left: 217px;
}
.game-grid__stage--warface:nth-child(1):before {
  top: 33px;
}
.game-grid__stage--warface:nth-child(1):after {
  display: none;
}
.game-grid__stage--warface:nth-child(2):after {
  display: none;
}
.game-grid__stage--warface:nth-child(2):before {
  display: none;
}
.game-grid__match {
  width: 217px;
  height: 63px;
  background-color: #2d3b49;
  margin-bottom: 45px;
  position: relative;
}
.game-grid__match:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 157px;
  height: 1px;
  background: #606a74;
}
.game-grid__comands {
  width: 165px;
  padding-left: 8px;
  font-family: 'PlumbCondensed-Light';
  font-size: 24px;
  line-height: 33px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.game-grid__comands span {
  display: inline-block;
  margin-right: 15px;
}
.game-grid__match-time {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 55px;
  line-height: 63px;
  font-size: 17px;
}
.game-grid--cf {
  margin-top: 20px;
}
.video__item {
  width: 32.95%;
  height: 180px;
  float: left;
  margin-bottom: 5px;
  position: relative;
}
.video__item:nth-child(2) {
  width: 34.08%;
  padding: 0 5px;
}
.video__item:nth-child(2) .video__source {
  width: calc(100% - 10px);
  left: 5px;
}
.video__source {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 4;
  overflow: hidden;
}
.video__source img {
  max-height: 100%;
}
.video__source:after {
  position: absolute;
  content: '';
  width: 80px;
  height: 80px;
  left: 50%;
  margin-left: -40px;
  top: 28px;
  background: url('../images/sprite.png') no-repeat top left;
  background-position: -1344px 0px;
}
.video__name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 54px;
  line-height: 54px;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 5;
}
.video__link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
}
.btn {
  display: inline-block;
  width: 157px;
  height: 55px;
  background: url('../images/btn.jpg') no-repeat center top;
  margin: 36px 66px 0 0;
  float: right;
  line-height: 55px;
  color: #fff;
  font-family: 'PlumbCondensed-Light';
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}
.btn:hover {
  background: url('../images/btn.jpg') no-repeat center bottom;
}
.age {
  display: inline-block;
}
#copyright {
  font-size: 13px;
  font-family: tahoma;
}
#counters {
  margin-top: 10px;
}
@media all and (max-width: 885px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .pagewrap--cf .content__bg.top {
    top: 62px;
  }
  .pagewrap--cf nav {
    top: 68px;
    height: calc(100vh - 68px);
  }
  .pagewrap--cf .infoblock__title--transform {
    height: auto;
  }
  header {
    height: 92px;
  }
  .logo {
    position: absolute;
    top: 152px;
    width: 253px;
    height: 114px;
    left: 50%;
    margin: 0 0 0 -126px;
  }
  .logo img {
    max-width: 100%;
  }
  .logo--cf {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  .content {
    padding: 0;
  }
  .content__bg.top {
    position: relative;
    top: 92px;
    background: none;
    height: auto;
    max-height: 422px;
    overflow: hidden;
  }
  .content__bg.top img {
    max-width: 100%;
  }
  .content .container {
    background: #09101a;
  }
  .nav {
    position: absolute;
    top: 98px;
    left: 0;
    background: #000;
    opacity: 0.9;
    padding: 0 38px;
    height: calc(100vh - 100px);
    overflow: scroll;
    display: none;
  }
  .nav__link {
    display: block;
    margin: 0;
    width: 100%;
    padding: 0 38px;
    border-bottom: 1px solid #2a3146;
  }
  .nav__link:last-child {
    border-bottom: none;
  }
  .entity__item {
    width: 100%;
    float: none;
  }
  .entity__item-middle {
    width: calc(100% - 85px);
    text-align: center;
  }
  .news__item-img {
    padding: 0 20px 0 0;
    width: 260px;
  }
  .news__item-img img {
    height: 100%;
  }
  .news__item-text {
    width: calc(100% - 260px);
    font-size: 17px;
  }
  .video__item {
    width: 100%;
  }
  .btn {
    float: none;
    display: block;
    margin: 36px auto 0;
  }
  .details {
    height: auto;
  }
}
@media all and (min-width: 1540px) {
  .content__bg.middle {
    top: 68vh;
  }
  .pagewrap--cf .content__bg.top {
    height: 140vh;
  }
}
@media all and (min-width: 1730px) {
  .content__bg.middle {
    top: 65vh;
  }
}
@media all and (min-width: 1900px) {
  .content__bg.middle {
    top: 64vh;
  }
}
