html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: @white;
}

img {
	border: none;
}
iframe {
	border: none;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.pagewrap{
	min-height: 100%;	
	min-width: 480px;
	width: 100%;
	font-family: @defFont;
	overflow: hidden;
	
	&--cf {	
		background: @black;		
		
		.infoblock {
			&__title {
				height: 59px;
				line-height: 58px;
				text-align: center;
				background-color: @blue;
				margin: 0;
				color: @white1;
				font-family: @Cuprum;
				font-size: 40px;
			}
			
			&__sub {
				font-family: @Cuprum;
			}
			
			&--footer {
				background-color: @black;
				margin-top: 58px;
				padding: 35px 0 0;
				height: auto;
			}
		}
		
		.btn {
			margin-bottom: 36px;
			background: url('../images/btn-cf.png') no-repeat center top;
			background-position: 0px 0px;
			background-size: cover;
			
			&:hover {				
				background: url('../images/btn-cf.png') no-repeat center top;
				background-position: 0px -69px;
				background-size: cover;
			}
		}
		
		.content {
			padding-top: 62px;
			padding-bottom: 38px;
			
			&__bg {			
				&.top {
					top: 0;
					background: url('../images/content/cf1.png') center top no-repeat;
					background-size: cover;
					height: 113vh;
				}
				&.bottom, &.middle {
					display: none;
				}
			}
		}		
		
		.commands {
			margin-top: 20px;
		}
		
		.logo {
			width: 100%;
			max-width: 886px;
			height: 260px;
			margin: 0 auto;
		}		
	}
}

.mobile {
	display: none;
}

.desktop {
	display: block;
}

.absolute-link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;	
	height: 100px;
	background-color: @black1;
	z-index: 10;
	
	&.header-cf {
		height: 63px;
		
		.nav {
			&__link {
				font-family: @Cuprum;
				color: @grey1;
				font-size: 30px;
				line-height: 63px;
				margin: 0;
				text-transform: none;
				color: @white1;
				
				&.active {
					color: @blue;
				}
			}
		}
		
		.menu {
			font-family: @Cuprum;
			font-size: 40px;
			line-height: 62px;
			
			.sprite {
				top: 17px;
			}
		}
	}
}

.container {
	width: 100%;
	min-width: 480px;
	max-width: @widtch-content;
	margin: 0 auto;
	position: relative;
}

.content {
	width: 100%;
	min-width: 480px;
	position: relative;
	text-align: center;
	padding: 100px 0;
	
	.container {		
		background-color: rgba(10, 16, 25, 0.83);
		text-align: left;		
		position: relative;
		z-index: 4;
	}
	
	&__bg {
		position: absolute;		
		left: 0;
		right: 0;
		
		
		&.top {
			top: 0;
			background: url('../images/content/warface1.png') center top no-repeat;
			background-size: cover;
			height: 100vh;
		}
		
		&.middle {
			top: 69vh;
			background: url('../images/content/warface2.png') no-repeat;
			background-size: contain;
			bottom: 0;
		}
		
		&.bottom {
			top: 2000px;
			background: url('../images/content/warface3.png') repeat-y;
			background-size: contain;
			bottom: 0;
		}
		
		&.cf {
			top: 0;
			bottom: 0;
			background: url('../images/cf-landing.jpg') center top no-repeat;
			background-size: cover;
		}
	}
}

.menu {
	padding-left: 119px;
	position: relative;
	color: @white;
	font-family: @PlumbCondensed;
	font-size: 61px;
	text-transform: uppercase;
	line-height: 92px;
	
	.sprite {
		display: inline-block;
		position: absolute;
		top: 34px;
		left: 38px;		
	}
	
	&.active {	
		color: @orange;
	}
}

.nav {
	display: flex;
    justify-content: space-around;
    padding: 0 25px;
	
	&__link {	
		margin: 0 10px;
		font-family: @PlumbCondensed;
		font-size: 34px;
		font-weight: 300;
		line-height: 100px;
		text-transform: uppercase;		
		color: @grey;

		&.active {
			color: @orange;
		}
	}
}

.logo {
	display: inline-block;
	position: relative;
	z-index: 3;
	margin: 48px auto;
	
	&--cf:after {
		position: absolute;
		content: '';
		top: 8px;
		left: 50%;
		margin-left: -167px;
		width: 335px;
		height: 51px;
		background: url('../images/sprite.png') no-repeat top left;
		background-position: 0px 0px;
	}
}

.main-video {
	width: 100%;
	height: 498px;
	position: relative;	
}

.infoblock {
	color: @white;
	font-family: @defFont;
	font-size: 20px;
	
	&__title {
		display: block;
		width: 100%;
		color: @grey1;
		font-family: @PlumbCondensed;
		font-size: 61px;		
		text-transform: uppercase;
		margin: 35px 0 20px;
		padding: 0 38px;
		outline: none;
		
		&--margin-big {
			margin-top: 66px;
		}
		
		&--margin-big1{
			margin-top: 20px;
			margin-bottom: 37px;
		}
		
		&--transform {		
			text-transform: none;
		}
	}
	
	&__sub-title {
		font-family: @PlumbCondensed;
		font-size: 34px;
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;
		color: @orange;
		margin-bottom: 17px;
		
		span {
			color: @white;
		}
		
	}
	
	&__sub-title1 {
		margin-bottom: 22px;
	}
	
	&__sub-title2 {
		font-family: @defFont;
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 30px;
	}
	
	&--text {
		padding: 38px 38px 0;
		
		a {
			color: @blue;
		}
	}
	
	&--social {
		height: 167px;
		padding-top: 145px;
		text-align: center;
	}
	
	&--footer {
		height: 148px;
		background-color: rgba(0, 0, 0, 0.35);
		padding-top: 17px;
		text-align: center;
	}
}

.entity {
	&__item {
		width: 50%;
		float: left;
		
		&--wide {
			width: 100%;			
			
			.entity__item-middle {
				width: calc(~"100% - 85px");
				text-align: center;
			}
			
			.entity__item-element {
				&:nth-child(even){
					background-color: rgba(0, 0, 0, 0.35);
				}
				
				&:nth-child(odd){
					background-color: inherit;
				}
			}
		}
	}
	
	&__item-head {
		height: 59px;
		background-color: @grey2;		
		line-height: 59px;	
		padding-left: 38px;		
		font-size: 24px;
		font-weight: 700;
	}
	
	&__item-element {
		height: 68px;
		line-height: 68px;
		
		&:nth-child(odd), &.emphasized {
			background-color: rgba(0, 0, 0, 0.35);
		}
	}
	
	&__item-small {
		width: 85px;
		padding-left: 38px;
		float: left;
	}
	
	&__item-middle {
		width: 358px;
		padding: 0 32px;
		float: left;
		text-align: right;
		
		span {
			display: inline-block;
			margin: 0 15px;
		}
	}
}

.news {
	&__item {
		position: relative;		
	}
	
	&__item-heading {
		height: 59px;
		background-color: @grey2;		
		line-height: 59px;	
		padding-left: 38px;		
		font-size: 24px;
		font-weight: 700;
	}
	
	&__item-img {
		width: 34.4%;
		height: 134px;		
		padding: 0 3.2% 0 3.8%;
		float: left;
		overflow: hidden;
		
		img {
			max-width: 100%;
			background-color: @grey3;
		}
	}
	
	&__item-text {
		width: 65.5%;
		padding: 20px 4.3% 0 0;
		float: left;
	}
}

.commands {
	&__item {
		width: 50%;
		margin-bottom: 30px;
		float: left;
		text-align: center;
	}
	
	&__logo {
		display: inline-block;
		width: 129px;
		height: 129px;
		border-radius: 100%;
		margin: 0 auto 4px;
		overflow: hidden;
		
		img {
			max-width: 100%;
		}
	}
	
	&__name {
		display: inline-block;
		padding: 0 38px;
		color: @white;
		font-family: @PlumbCondensed;
		font-size: 28px;
	}
}

ul {
	list-style: none;
	padding: 0;
	
	li {
		margin-bottom: 20px;
	}
}

.group {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	
	&__item {
		display: inline-block;
		width: 100%;
	}
}

.social {
	&__link {
		display: inline-block;
		width: 22px;
		height: 22px;
		margin: 0 5px;
		background: url('../images/social.png') no-repeat;		
		
		&.tw {
			background-position: 0 0; 
			
			&:hover {
				background-position: 0 -26px; 
			}
		}
		
		&.fb {
			background-position: -26px 0;
			
			&:hover {
				background-position: -26px -26px; 
			}
		}
		
		&.vk {
			background-position: -52px 0;
			
			&:hover {
				background-position: -52px -26px; 
			}
		}
		
		&.ok {
			background-position: -78px 0;
			
			&:hover {
				background-position: -78px -26px; 
			}
		}
	}
}

.logos {
	&__link {
		display: inline-block;
		margin: 0 13px;
		vertical-align: top;
	}
}

.details {
	width: 100%;
	height: 502px;
	overflow: hidden;
	
	img {
		max-width: 100%;
	}
}

.game-grid {
	padding: 0 38px;
	
	&__stage {
		width: 33.33%;
		float: left;
		position: relative;
		
		&:after, &:before {
			position: absolute;
			content: '';
		}
		
		&:nth-child(2) {
			padding-left: 26px;
			
			.game-grid__match:nth-child(1) {
				margin-top: 50px;				
			}
		}
		
		&--warface {
			&:after, &:before {
				background: url('../images/sprite.png') no-repeat top left;
			}
			
			&:nth-child(1) {
			
				&:after, &:before {
					background-position: -553px 0px;
					width: 79px;
					height: 110px;
					left: 217px;
				}
			
				&:before {
					top: 33px;
				}
				
				&:after {
					
					display: none;
				}
			}
			
			&:nth-child(2) {
			
				&:after {
					
					display: none;
				}
			
				&:before {
					display: none;
				}				
			}
		}
	}
	
	&__match {		
		width: 217px;
		height: 63px;
		background-color: @grey2;
		margin-bottom: 45px;
		position: relative;
		
		&:after {
			position: absolute;
			content: '';
			top: 50%;
			left: 0;
			width: 157px;
			height: 1px;
			background: @grey4;
		}
	}
	
	&__comands {
		width: 165px;
		padding-left: 8px;
		font-family: @PlumbCondensed;
		font-size: 24px;
		line-height: 33px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		span {
			display: inline-block;
			margin-right: 15px;
		}
	}
	
	&__match-time {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 55px;
		line-height: 63px;
		font-size: 17px;
		
	}
	
	&--cf {
		margin-top: 20px;
	}
}

.video {
	&__item {
		width: 32.95%;
		height: 180px;
		float: left;
		margin-bottom: 5px;
		position: relative;
		
		&:nth-child(2) {
			width: 34.08%;
			padding: 0 5px;
			
			.video__source {
				width: calc(~"100% - 10px");
				left: 5px;
			}
		}
	}
	
	&__source {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		z-index: 4;
		overflow: hidden;
		
		img {
			max-height: 100%;
		}
		
		&:after {
			position: absolute;
			content: '';
			width: 80px;
			height: 80px;
			left: 50%;
			margin-left: -40px;
			top: 28px;
			background: url('../images/sprite.png') no-repeat top left;
			background-position: -1344px 0px;			
		}
	}
	
	&__name {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 54px;
		line-height: 54px;
		padding: 0 20px;
		background: rgba(0, 0, 0, 0.7);	
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		z-index: 5;
	}
	
	&__link {
		display: inline-block;
		vertical-align: middle;
		margin-left: 50px;		
	}
}

.btn {
	display: inline-block;
	width: 157px;
	height: 55px;
	background: url('../images/btn.jpg') no-repeat center top;
	margin: 36px 66px 0 0;
	float: right;
	line-height: 55px;
	color: @white;
	font-family: @PlumbCondensed;
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
	
	&:hover {
		background: url('../images/btn.jpg') no-repeat center bottom;
	}
}

.age {
	display: inline-block;	
}

#copyright {
	font-size: 13px;
    font-family: tahoma;
}

#counters {
	margin-top: 10px;
}