
@media all and (max-width: 885px) {
	.desktop {
		display: none;
	}
	
	.mobile {
		display: block;
	}
	
	.pagewrap {
	
		&--cf {
			.content__bg.top {
				top: 62px;
			}
			
			nav{
				top: 68px;
				height: calc(~"100vh - 68px");
			}
			
			.infoblock__title--transform {
				height: auto;
			}			
		}
	}
	
	header {
		height: 92px;		
	}
	
	.logo {
		position: absolute;
		top: 152px;
		width: 253px;
		height: 114px;
		left: 50%;
		margin: 0 0 0 -126px;
		
		img {
			max-width: 100%;
		}
		
		&--cf {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
	
	.content {
		padding: 0;
		
		&__bg {
			&.top {
				position: relative;
				top: 92px;
				background: none;
				height: auto;
				max-height: 422px;
				overflow: hidden;
				
				img {				
					max-width: 100%;
				}
			}			
		}
		.container {
			background: @black2;
		}
	}
	
	.nav {
		position: absolute;
		top: 98px;
		left: 0;		
		background: @black;
		opacity: 0.9;
		padding: 0 38px;
		height: calc(~"100vh - 100px");
		overflow: scroll;
		display: none;
		
		&__link {
			display: block;
			margin: 0;
			width: 100%;
			padding: 0 38px;
			border-bottom: 1px solid @grey5;
			
			&:last-child {			
				border-bottom: none;
			}
		}
	}	
	
	.entity {
		&__item {
			width: 100%;
			float: none;
		}
		
		&__item-middle {
			width: calc(~"100% - 85px");
			text-align: center;
		}
	}
	
	.news {
		&__item-img {
			padding: 0 20px 0 0;
			width: 260px;
			
			img {
				height: 100%;
			}
		}
		
		&__item-text {
			width: calc(~"100% - 260px");
			font-size: 17px;
		}
	}
	
	.video {
		&__item {
			width: 100%;
		}		
	}
	
	.btn {
		float: none;
		display: block;
		margin: 36px auto 0;
	}
	
	.details {
		height: auto;
	}
}

@media all and (min-width: 1540px) {
	.content {
		&__bg  {
			&.middle {
				top: 68vh;
			}
		}
	}
	.pagewrap {	
		&--cf {		
			.content {
				&__bg  {
					&.top {
						height: 140vh;
					}
				}
			}				
		}
	}
}

@media all and (min-width: 1730px) {
	.content {
		&__bg  {
			&.middle {
				top: 65vh;
			}
		}
	}
}

@media all and (min-width: 1900px) {
	.content {
		&__bg  {
			&.middle {
				top: 64vh;
			}
		}
	}
}