.sprite { background: url('../images/sprite.png') no-repeat top left;  }
.sprite.cf { background-position: 0px 0px; width: 335px; height: 51px;  } 
.sprite.cryengine { background-position: -345px 0px; width: 111px; height: 14px; margin-top: 11px; } 
.sprite.crytek { background-position: -466px 0px; width: 77px; height: 26px;  } 
.sprite.line1 { background-position: -553px 0px; width: 79px; height: 110px;  } 
.sprite.line2 { background-position: -642px 0px; width: 82px; height: 227px;  } 
.sprite.mail { background-position: -734px 0px; width: 90px; height: 28px; margin-top: 8px; } 
.sprite.mailru { background-position: -834px 0px; width: 72px; height: 27px; margin-right: 40px; } 
.sprite.menu-btn { background-position: -916px 0px; width: 44px; height: 27px;  } 
.sprite.pegi16_rf { background-position: -970px 0px; width: 36px; height: 36px;  } 
.sprite.smilegate { background-position: -1016px 0px; width: 120px; height: 30px; margin-right: 55px; } 
.sprite.video-icon { background-position: -1146px 0px; width: 32px; height: 32px;  } 
.sprite.video-icon-big { background-position: -1188px 0px; width: 146px; height: 146px;  } 
.sprite.video-icon-midle { background-position: -1344px 0px; width: 80px; height: 80px;  } 