// - font-face
@font-face {
    font-family: 'PlumbCondensed-Light';
    src: url('../fontss/PlumbCondensed-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PlumbCondensed-Light.otf')  format('opentype'),
	url('../fonts/PlumbCondensed-Light.woff') format('woff'),
	url('../fonts/PlumbCondensed-Light.ttf')  format('truetype'),
	url('../fonts/PlumbCondensed-Light.svg#PlumbCondensed-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Plumb-Light';
  src: url('../fonts/Plumb-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Plumb-Light.woff') format('woff'),
  url('../fonts/Plumb-Light.ttf')  format('truetype'),
  url('../fonts/Plumb-Light.svg#Plumb-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum-Regular';
  src: url('../fonts/Cuprum-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Cuprum-Regular.woff') format('woff'),
  url('../fonts/Cuprum-Regular.ttf')  format('truetype'),
  url('../fonts/Cuprum-Regular.svg#Cuprum-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@defFont:  'Plumb-Light';
@PlumbCondensed : 'PlumbCondensed-Light';
@Cuprum: 'Cuprum-Regular';

//- background colors
@bg: #000;

@white: #fff;
@white1: #dbdbdb;

@black: #000;
@black1: #0a1019;
@black2: #09101a;

@grey: #767677;
@grey1: #818182;
@grey2: #2d3b49;
@grey3: #282828;
@grey4: #606a74;
@grey5: #2a3146;

@orange: #ef7a16;

@blue: #5c8bbb;



//- sizes
@header-height: 100px;
@widtch-content: 886px;

