- var title= 'Список страниц'

doctype html
html(lang = "ru")
	head
		include ./blocks/header-links.jade
	body.c-cf
		.pagewrap.pagewrap--cf
			include ./blocks/header-cf.jade
			.content
				.content__bg.cf
				
				a.logo.logo--cf(href="https://cfire.mail.ru/" title="")
					
					
				.container
					.infoblock__title.infoblock__title--transform
						|CrossFire Stars 2016 National Finals
					.main-video.desktop.c-video						
						iframe(width="886" height="498" src="//ok.ru/videoembed/89967495897"  allowfullscreen)
					.infoblock.infoblock--text
						.infoblock__sub-title
							|CrossFire Stars 2016 National Finals
							br
							span
								|ArenaStars vs DNOgaming
						
					.infoblock						
						a#schedule.infoblock__title.infoblock__title--transform.c-anchor(href="#" title="")
							|Расписание
						.entity
							.clearfix
								.entity__item.entity__item--wide
									.entity__item-head
										|Среда, 6 феврабля
										
									.entity__item-element.clearfix
										.entity__item-small
											|15:00
										.entity__item-middle
											a(href="" title="")
												|RuLegends
												span
													|vs
												|КомандаБ
									.entity__item-element.clearfix
										.entity__item-small
											|17:00
										.entity__item-middle
											a(href="" title="")
												|КомандаВ
												span
													|vs
												|КомандаЩ
									.entity__item-element.clearfix
										.entity__item-small
											|17:00
										.entity__item-middle
											a(href="" title="")
												|КомандаВ
												span
													|vs
												|КомандаB		
							
					.infoblock
						a#grid.infoblock__title.infoblock__title--transform.c-anchor(href="#" title="")
							|Турнирная сетка
						.game-grid.game-grid--cf.clearfix.desktop
							.game-grid__stage.game-grid__stage--warface
								.game-grid__match
									.game-grid__comands
										span= "2"
										|Repulse
									.game-grid__comands
										span= "3"
										|DarkMatter darkMatter
									.game-grid__match-time
										|13:00
								.game-grid__match
									.game-grid__comands
										span= "2"
										|Repulse
									.game-grid__comands
										span= "3"
										|DarkMatter
									.game-grid__match-time
										|13:00										
								
							.game-grid__stage.game-grid__stage--warface
								.game-grid__match
									.game-grid__comands
										span= "2"										
									.game-grid__comands
										span= "3"
										|DarkMatter
									.game-grid__match-time
										|13:00										
							
							.game-grid__stage.game-grid__stage--warface								
						.mobile
							.clearfix
								.entity__item
									.entity__item-head
										|1/4 финала
										
									.entity__item-element.clearfix
										.entity__item-small
											|13:00
										.entity__item-middle
											|RuLegends
											span
												|vs
											|DarkMatter
									.entity__item-element.clearfix
										.entity__item-small
											|17:00
										.entity__item-middle
											|КомандаВ
											span
												|vs
											|DarkMatter
									.entity__item-element.clearfix
										.entity__item-small
											|13:00
										.entity__item-middle
											|RuLegends
											span
												|vs
											|DarkMatter
									.entity__item-element.clearfix
										.entity__item-small
											|17:00
										.entity__item-middle
											|КомандаВ
											span
												|vs
											|DarkMatter
								.entity__item
									.entity__item-head
										|1/2 финала
										
									.entity__item-element.clearfix
										.entity__item-small
											|13:00
										.entity__item-middle
											|RuLegends
											span
												|vs
											|DarkMatter
									.entity__item-element.clearfix
										.entity__item-small
											|17:00
										.entity__item-middle
											|КомандаВ
											span
												|vs
											|DarkMatter			
								.entity__item
									.entity__item-head
										|Финал
										
									.entity__item-element.emphasized.clearfix
										.entity__item-small
											|13:00
										.entity__item-middle
											|RuLegends
											span
												|vs
											|DarkMatter			
					.infoblock
						a#video.infoblock__title.infoblock__title--transform.c-anchor(href="#" title="")
							|Видео
						.video
							.desktop
								.clearfix
									.video__item
										a.video__source.c-link-video(href="" title="" data-src="https://www.youtube.com/embed/7dTh7k2zZoM?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc")
											img(src="images/content/img9.jpg" alt="")										
										.video__name
											|RuLegends vs КомандаБ
									.video__item
										a.video__source.c-link-video(href="" title="" data-src="https://www.youtube.com/embed/l5svYKokJvE?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc")
											img(src="images/content/img10.jpg" alt="")
										.video__name
											|RuLegends vs КомандаБ
									.video__item
										a.video__source.c-link-video(href="" title="" data-src="https://www.youtube.com/embed/8XPq_l7mwOI?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc")
											img(src="images/content/img11.jpg" alt="")
										.video__name
											|RuLegends vs КомандаБ
								.clearfix
									.video__item
										a.video__source.c-link-video(href="" title="" data-src="https://www.youtube.com/embed/md8t8unjbh4?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc")
											img(src="images/content/img9.jpg" alt="")
										.video__name
											|RuLegends vs КомандаБ
									.video__item
										a.video__source.c-link-video(href="" title="" data-src="https://www.youtube.com/embed/Kivj-HNMb9E?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc")
											img(src="images/content/img11.jpg" alt="")
										.video__name
											|RuLegends vs КомандаБ
									.video__item
										a.video__source.c-link-video(href="" title="" data-src="https://www.youtube.com/embed/7dTh7k2zZoM?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc")
											img(src="images/content/img9.jpg" alt="")
										.video__name
											|RuLegends vs КомандаБ
							.mobile
								.entity__item
									.entity__item-head
										|Сейчас онлайн
										
									.entity__item-element.clearfix
										.entity__item-small
											|этап
										.entity__item-middle
											|RuLegends
											span
												|vs
											|КомандаБ
											a.video__link.sprite.video-icon(href="" title="")
									.entity__item-element.clearfix
										.entity__item-small
											|этап
										.entity__item-middle
											|RuLegends
											span
												|vs
											|КомандаЩ
											a.video__link.sprite.video-icon(href="" title="")
								.entity__item
									.entity__item-head
										|Прошедшие матчи
										
									.entity__item-element.clearfix
										.entity__item-small
											|этап
										.entity__item-middle
											|RuLegends
											span
												|vs
											|КомандаБ
											a.video__link.sprite.video-icon(href="" title="")
									.entity__item-element.clearfix
										.entity__item-small
											|этап
										.entity__item-middle
											|RuLegends
											span
												|vs
											|КомандаЩ
											a.video__link.sprite.video-icon(href="" title="")			
								
							.clearfix
								a.btn(href="https://www.youtube.com/playlist?list=PL5bORx7MxOx2M_KbOmB5SWDckE3jZrAhX" title="")= "Еще"
					.infoblock
						a#news.infoblock__title.infoblock__title--transform.c-anchor(href="#" title="")
							|Новости
						.news__item
							.news__item-heading
								|Открытие турнира
							.clearfix
								.news__item-img
									img(src="images/content/img1.jpg" alt="")
								.news__item-text.c-limited-text
									|UPD: на промке блоки надо будет расположить вертикально, а не горизонтально, как они расположены сейчас. Настя Бабкина говорит, что вы сейчас ей esports.mail.ru рисуете по той же схеме. На всякий случай прикладываю презентацию с ваерфреймами, чтобы было совсем понятно, о чём я говорю.
							a.absolute-link(href="" title="")
							
						.news__item
							.news__item-heading
								|Новость 64
							.clearfix
								.news__item-img
									img(src="images/content/img2.jpg" alt="")
								.news__item-text.c-limited-text
									|UPD: на промке блоки надо будет расположить вертикально, а не горизонтально, как они расположены сейчас. Настя Бабкина говорит, что вы сейчас ей esports.mail.ru рисуете по той же схеме. На всякий случай прикладываю презентацию с ваерфреймами, чтобы было совсем понятно, о чём я говорю.
							a.absolute-link(href="" title="")

						.news__item
							.news__item-heading
								|Новость 65
							.clearfix
								.news__item-img
									img(src="images/content/img2.jpg" alt="")
								.news__item-text.c-limited-text
									|UPD: на промке блоки надо будет расположить вертикально, а не горизонтально, как они расположены сейчас. Настя Бабкина говорит, что вы сейчас ей esports.mail.ru рисуете по той же схеме. На всякий случай прикладываю презентацию с ваерфреймами, чтобы было совсем понятно, о чём я говорю.
							a.absolute-link(href="" title="")
						.clearfix
								a.btn(href="https://cfire.mail.ru/news/events/ " title="")= "Еще"	
							
					.infoblock
						a#comands.infoblock__title.infoblock__title--transform.c-anchor(href="#" title="")
							|Команды
							
						.commands.clearfix							
							.commands__item
								a(href="" title="")
									.commands__logo
										img(src="images/content/img7.jpg" alt="")
									br
									.commands__name
										|DarkMatter
							.commands__item
								a(href="" title="")
									.commands__logo
										img(src="images/content/img8.jpg" alt="")
									br
									.commands__name
										|DarkMatter Repulse Repulse DarkMatter Repulse Repulse
							.commands__item
								a(href="" title="")
									.commands__logo
										img(src="images/content/img3.jpg" alt="")
									br
									.commands__name
										|Repulse
							.commands__item
								a(href="" title="")
									.commands__logo
										img(src="images/content/img4.jpg" alt="")
									br
									.commands__name
										|DarkMatter							
					.infoblock
						a#details.infoblock__title.infoblock__title--transform.c-anchor(href="#" title="")						
							|Правила
						//
							.details
								img(src="images/content/details1.jpg" alt="")
					.infoblock.infoblock--text
						.infoblock__sub-title2
							|Победителей CFS 2016 Russian NF ждет поездка в Китай на масштабный международный турнир Grand Final CrossFire Stars 2016 с призовым фондом 400 000 долларов!
							
						|Призы
						
						ul
							li
								|1-е место — 10 000 $, а также для каждого из пяти участников команды:поездка в Китай на турнир Grand Final CrossFire Stars 2016;любое оружие или персонаж, представленные в игровом магазине на момент окончания турнира (включая VIP);набор для КБ на 60 дней.
							li
								|2-е место — 6 000 $, а также для каждого из пяти участников команды: штурмовая винтовка из капсул на выбор (из находящихся в продаже на момент окончания турнира); набор для КБ на 60 дней.
							li
								|3-е место — 4 000 $, а также для каждого из пяти участников команды: любой пистолет из капсул на выбор (из находящихся в продаже на момент окончания турнира); набор для КБ на 60 дней.
							li
								|4-е место — для каждого из пяти участников команды: AK47-Phoenix на 140 дней.Набор для КБ на 60 дней.
							
							li
								|5-8 места — для каждого из пяти участников команды: AK47-Phoenix на 70 дней; набор для КБ на 60 дней.
						
						|Подробные 						
						a(href="https://cfire.mail.ru/forums/showthread.php?t=318100" title="")= "правила турнира"
						
					
					.infoblock.infoblock--footer
						a.logos__link.sprite.mailru(href=" https://mail.ru/" title="Mail.Ru" target="_blank")
						a.logos__link.sprite.smilegate(href="https://www.smilegate.com/en/main/main.asp" title="SmileGate" target="_blank")
						span.age.sprite.pegi16_rf
						#copyright
							|Powered by 
							a(href="http://mail.ru/" target="_blank" rel="nofollow")= "Mail.Ru " 
							|Mail.Ru Games 2010-2014 
							a(href="http://www.it-territory.ru/" target="_blank" rel="nofollow")= "IT Territory LLC"
							|. All rights reserved.
							br
							|COPYRIGHT©
							a( href="http://www.smilegate.com/" target="_blank" rel="nofollow")= "SMILEGATE, "
							|INC.ALL RIGHTS RESERVED.
						#counters
			include ./blocks/footer.jade