- var title= 'Список страниц'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		include /blocks/header.jade
		.content
			.content__bg.top
			a.logo(href="" title="")
					img(src="/images/warface-logo.png" alt="")
			.container

				ul(style="padding-top: 60px; width: 80%; margin: 0 auto; min-height: 400px; display: block; list-style-type: decimal;")
					li(style="display:list-item;")
						a(href="warface.html" title="Warface")(style="color:#fff;")= 'Warface'
					
					li(style="display:list-item;")
						a(href="crossfire.html" title="Crossfire")(style="color:#fff;")= 'Crossfire'					
			include /blocks/footer.jade